---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Image from 'astro/components/Image.astro';
import fondo_carrera from '../assets/fondo_carrera.png';

---
<Layout
  title="Corre con Historia - Kit"
  description="Descubre el kit de inscripción y los beneficios exclusivos que recibirás al unirte a nuestra carrera."
  bgImage={fondo_carrera.src}
  
>
    <Navbar />

    <h1 class="text-cyan-400 text-5xl text-center my-4">CORRE CON HISTORIA</h1>
    <p class="text-white text-xl md:text-3xl max-w-6xl text-center mx-auto mb-8">
      ¿Listo para el reto? Lee las bases y forma parte de esta historia.
    </p>

    <div class="flex justify-center items-center">
        <a href="#" target="_blank" class="bg-cyan-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-cyan-600 transition duration-300">
            Convocatoria
        </a>
    </div>

</Layout>  