---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Image from 'astro/components/Image.astro';
import fondo_carrera from '../assets/fondo_carrera.png';
import letras from '../assets/letras.png';
import mujer_corriendo from '../assets/mujer_corriendo.png';
---
<Layout
  title="Corre con Historia - Kit"
  description="Descubre el kit de inscripción y los beneficios exclusivos que recibirás al unirte a nuestra carrera."
  bgImage={fondo_carrera.src}
  
>
    <Navbar />

    <!-- <h1 class="text-cyan-400 text-5xl text-center my-4">CORRE CON HISTORIA</h1> -->
    <Image src={letras} alt="Corre con Historia" class="w-full max-w-3xl mx-auto mb-4" />
    <p class="text-white/80 text-2xl md:text-4xl max-w-6xl text-center mx-auto mb-2">
      ¿Listo para el reto? 
    </p>

    <p class="text-white/80 text-xl md:text-3xl max-w-6xl text-center mx-auto mb-8">
      Lee las bases y forma parte de esta historia.
    </p>

    <div class="flex flex-col items-start h-dvh">
      <a href="#" class="sm:max-w-lg text-2xl sm:text-4xl w-full mx-auto md:w-full mt-4 md:mt-0 md:ml-auto bg-gradient-to-r from-orange-400 to-pink-500 text-white font-semibold px-6 py-2 rounded-full shadow-md hover:opacity-90 transition text-center">
        convocatoria
      </a>

      <div class="w-[300px] sm:w-[500px] mx-auto ">
        <Image src={mujer_corriendo} alt="Mujer corriendo"/>
        </div>
    </div>

</Layout>  