---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Sponsors from "../components/sponsors.astro";
import Timer from "../components/Timer.astro";
import Navbar from '../components/Navbar.astro';
import Socials from "../components/Socials.astro";
import Hero from '../assets/hero.png';
---

<Layout>
	<section>
		<Navbar/>

		<div class="grid grid-cols-1 md:grid-cols-2 px-4 py-10 gap-8 items-center">
			<!-- Contenido -->
			<div class="flex flex-col justify-center items-center order-2 md:order-1">
			  <div class="w-full md:w-4/5 text-center md:text-left">
				<h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold text-border leading-tight">
				  <span style="color: #ff398f">Corre</span>
				  <span style="color: #00bec1" class="ml-2">con</span>
				  <span class="block text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl mt-2 md:ml-8" style="color: #016692;">HISTORIA</span>
				</h1>
		  
				<p class="mt-4 text-lg sm:text-xl md:text-2xl lg:text-3xl text-white font-medium">
				  Una carrera para toda la familia. Conectando el cuerpo con nuestras raíces.
				</p>
		  
				<button class="mt-6 px-6 py-3 text-white text-lg sm:text-xl font-medium rounded-3xl" style="background-color: #0192a3">
				  Inscríbete ahora
				</button>
			  </div>
			</div>
		  
			<!-- Imagen -->
			<div class="order-1 md:order-2">
			  <img src={Hero.src} alt="Familia" class="w-full h-auto max-h-[500px] object-contain mx-auto" />
			</div>
		  </div>
		  


	  </section>
</Layout>

<section>
	<Sponsors />
</section>

<section>
	<Timer />
</section>

<section>
	<Socials />
</section>


<style>
	.text-border {
		text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	}
</style>