---
import "../styles/global.css";
---

<div class="flex justify-center items-center gap-4 h-50">
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" >
      <ion-icon name="logo-facebook" class="text-4xl mr-3 mt-1 text-white hover:text-blue-600"/>
    </a>

    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-instagram" class="text-4xl mr-3 mt-1 text-white hover:text-red-300"/>
    </a>

    <a href="https://www.tiktok.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-tiktok" class="text-4xl mr-3 mt-1 text-white hover:text-black"/>
    </a>

    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-youtube" class="text-4xl mr-3 mt-1 text-white hover:text-red-600"/>
    </a>
</div>