---
import "../styles/global.css";

import amsed from '../assets/logo-amsed.png';
import asadero from '../assets/logo-asadero.png';
import fofel from '../assets/logo-fofel.png';
import metamedix from '../assets/logo-metamedix.png';
import Image from "astro/components/Image.astro";
const logos = [amsed, metamedix, fofel, asadero];
---
<div class="sponsor-ticker ">
  <ul>
    {logos.map((logo) => (
      <li><Image src={logo} alt="sponsor" class="logo" /></li>
    ))}
  </ul>
  <ul aria-hidden="true">
    {logos.map((logo) => (
      <li><Image src={logo} alt="sponsor" class="logo" /></li>
    ))}
  </ul>
</div>

<style>
  .sponsor-ticker {
    --gap: 3rem;
    overflow: hidden;
    display: flex;
    gap: var(--gap);
    background-color: white;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    user-select: none;
  }

  .sponsor-ticker ul {
    display: flex;
    gap: var(--gap);
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 10s linear infinite;
    align-items: center;
  }

  /* .sponsor-ticker:hover ul {
    animation-play-state: paused;
  } */

  .logo {
    max-height: 300px;
    opacity: 0.7;
    transition: opacity 0.3s;
    margin-right: var(--gap);
  }

  .logo:hover {
    opacity: 1;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>