---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---


<div class="welcome">
	<img src={astroLogo.src} alt="Astro Logo" class="logo" />
	<h1>Welcome to Astro Basics</h1>
	<p>
		This is a simple Astro project to demonstrate the basics of Astro.
	</p>
	<p>
		<a href="https://docs.astro.build" target="_blank">Learn more about Astro</a>
	</p>
	<img src={background.src} alt="Background" class="background" />
</div>