---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio - Carrera</title>
  </head>

  <!-- background: linear-gradient(90deg, #d50e77 0%, #0d56b1 100%) -->
  <!-- bg-[url('/correconhistoria/img/banner.jpg')] bg-cover bg-center -->
  <body class="" style="background: linear-gradient(90deg, #d50e77 0%, #0d56b1 100%);">
    <main class="px-16">
      <slot />
	</main>
  </body>
</html>
